.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  text-align: center;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  color: red;
}
